*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#section{
	height:140vh;
	background-color:#fff;
	padding:10x 0;
}
.container{
	padding:20px;
	width:90%;
	margin:auto;
	background-color:#fff;
}
.section-row{
	display:flex;
	height:120vh;
	padding-left:20px;
	background-color:#fff;
}
.section-column{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:space-evenly;
	height:120vh;
	padding:20px;
	margin:auto;
	width:95%;
}
p{
	font-size:12px;
	padding:10px;
}
.card{
	border:1px solid #000;
	background-color:#fff;
	text-align:center;
	padding:20px;
	width:30%;	
	height:27rem;
	
}
h2{
	text-transform:capitalize;
}
img{
	width:100%;
	margin: auto;
}
.card-pic{
	width:100%;

}
button{
	width:80%;
	padding:5px;
	background-color:#393535;
	color:#fff;
}
button:hover{
	box-shadow:0 0 15px #000;
	color:black;
	background-color:#fff;
}
.card:hover{
	box-shadow:0 0 15px #000;
	
}

